BEGIN
    LTEXT           "こんにちは世界",IDC_SEPARATOR,5,5,229,10
    LISTBOX         IDC_HOST_LIST,7,17,150,50,LBS_SORT | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END